<div class="wrapper">
  <!-- Va a englobar todo el formulario con la cabecera -->
  <div class="section-registro">
      <div class="body-registro">
        <div class="row mt-3 mb-3">
          <div class="form-group col-12">
            <label class="title-user" for="tipo_usuario">Ingresa los datos de la materia</label>
          </div>
        </div>
        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>NRC</mat-label>
            <input matInput [(ngModel)]="materia.nrc" name="id" placeholder="Escribe el NRC de la materia" [disabled]="editar">
        </mat-form-field>
        <div *ngIf="errors.nrc" class="invalid-feedback">{{ errors.nrc }}</div>
        <mat-form-field class="mat-input" appearance="outline">
          <mat-label>Nombre de la materia</mat-label>
          <input matInput [(ngModel)]="materia.name" placeholder="Escribe nombre de la materia">
      </mat-form-field>
      <div *ngIf="errors.name" class="invalid-feedback">{{ errors.name }}</div>

      <mat-form-field class="mat-input" appearance="outline">
          <mat-label>Seccion</mat-label>
          <input matInput [(ngModel)]="materia.seccion" placeholder="Escribe la seccion de la materia">
      </mat-form-field>
      <div *ngIf="errors.seccion" class="invalid-feedback">{{ errors.seccion }}</div>

      <div class="select-dias">
        <div class="row mt-3 mb-3">
          <div class="form-group col-12">
            <label class="title-materias" for="tipo_usuario">Selecciona los dias a impartir</label>
          </div>
        </div>
        <div class="checkbox-group" *ngFor="let dia of dias; let i = index">
          <mat-checkbox class="checkbox-item opc-sc" name="opsc" (change)="checkboxChange($event)" value="{{dia.nombre}}" [checked]="revisarSeleccion(dia.nombre)">
              <div class="d-checkbox-nombre">{{dia.nombre}}</div>
          </mat-checkbox>
          <div *ngIf="errors.materias_json" class="invalid-feedback">{{ errors.materias_dia }}</div>
        </div>
      </div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Hoario Inicio</mat-label>
        <input matInput [(ngModel)]="materia.hora_inicio" placeholder="Escribe La hora de inicio">
    </mat-form-field>
    <div *ngIf="errors.hora_inicio" class="invalid-feedback">{{ errors.hora_inicio }}</div>


    <mat-form-field class="mat-input" appearance="outline">
      <mat-label>Horario Final</mat-label>
      <input matInput [(ngModel)]="materia.hora_final" placeholder="Escribe la hora de fin">
  </mat-form-field>
  <div *ngIf="errors.hora_final" class="invalid-feedback">{{ errors.hora_final }}</div>


      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Salon</mat-label>
        <input matInput [(ngModel)]="materia.salon" placeholder="Salón">
    </mat-form-field>
    <div *ngIf="errors.salon" class="invalid-feedback">{{ errors.salon }}</div>

    <mat-form-field class="mat-input" appearance="outline">
      <mat-label>Programa educativo</mat-label>
      <mat-select [(ngModel)]="materia.programa" placeholder="Programa Educativo">
        <mat-option value="Ingeniería en Ciencias de la Computación">Ingeniería en Ciencias de la Computación</mat-option>
        <mat-option value="Licenciatura en Ciencias de la Computación">Licenciatura en Ciencias de la Computación</mat-option>
        <mat-option value="Ingeniería en Tecnologías de la Computación">Ingeniería en Tecnologías de la Computación</mat-option>
      </mat-select>
    </mat-form-field>



        <div class="section-buttons">
            <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
            <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
            <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
        </div>
      </div>
  </div>
</div>
